* {
	box-sizing: border-box;
}

body {
	background: #eee;
}

.map {
	& {
		position: absolute;
	}

	.map--tile-container {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
	}
}

.tile {
	& {
		position: absolute;
	}

	.tile--terrain {
		width: 100%;
		height: 100%;
	}
}