* {
	box-sizing: border-box;
}

body {
	background: #eee;
}

.map {
	& {
		position: absolute;
		background: #fff;
	}

	.map--tile-container {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
}

.tile {
	& {
		position: absolute;
		background: #fff;
	}

	.tile--terrain {
		//position: absolute;
		//top: 0; bottom: 0;
		//left: 0; right: 0;

		width: 100px;
		height: 100px;
	}
}

.svg-tile {
	width: 100px;
	height: 100px;
}